.container {
  width: 90%;
  max-width: 1800px;
  margin: 2em auto;
  min-height: 100vh;

  background: red;
}

.img {
  max-width: 700px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  // display: grid;
  // grid-gap: 2em;
  // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  // align-items: start;

  list-style-type: none;
  max-width: 700px;
  background: green;
  margin: 0;
}

.li {
  //   justify-self: start;
  margin: 0 0 4em 0;
  max-width: 700px;
  background: yellow;
}
